/*body {
	background-color: WHITE; 
	padding: 20px;
}*/

#courseInfoDisplay {
	display: none;
}

#uploadPic {
	display: none;
}

b {
	color: purple;
}

font {
	color: BLACK; 
	font-family: georgia;
}

div.goldBackground {
	/*padding: 20px;*/ 
	background-color: GOLD;
}

div.logout{
	Float: Right;
	padding: 10px;
}

div.profile-sidebar {
	background-color: WHITE; 
	text-align: center; 
	padding: 20px;
}

img.profile {
	width: 150px; 
	height: 150px;
}

div.col-md-9 {
	background-color: WHITE;
}

table {
	width: 80%; 
	border: 1px solid black; 
	border-spacing: 5px;
}

table {
	background-color: #d6d4d3;
}

th {
	background-color: #777a75;
	color: white;
}

hr {
	width: 10%;
	color: #fff;
}

form.Home {
	Float: Left;
}

.footer {
	background-color: black;
	color: grey;
	padding: 10px;
	text-align: center;
}