/*body {
	background-color: WHITE; 
	padding: 20px;
}*/
<<<<<<< HEAD

.editForm {
	text-align: center;
	position: relative;
  	top: 50%;
  	transform: perspective(1px) translateY(-50%);
}

.center {
	display: none;
	position: fixed;
	text-align: center;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	margin-left: auto ;
  	margin-right: auto ;
  	z-index: 10;
  	background-color: rgba(0, 0, 0, 0.5);
}

.formBox {
	text-align: center;
	display: inline-block;
	background-color: white;
	padding: 1.25em 1.25em 1.25em 1.25em;
}

.alink {
	cursor: pointer;
}

=======
>>>>>>> origin/roi-home
#courseInfoDisplay {
	display: none;
}

#uploadPic {
	display: none;
}

b {
	color: purple;
}

font {
	color: BLACK;
	font-family: georgia;
}

div.goldBackground {
	/*padding: 20px;*/
	background-color: GOLD;
}

div.logout {
	Float: Right;
	padding: 10px;
}

div.profile-sidebar {
	background-color: WHITE;
	text-align: center;
	padding: 20px;
}

img.profile {
	width: 150px;
	height: 150px;
}

div.col-md-9 {
	background-color: WHITE;
	text-align: center;
}

div.button {
	padding: 10px;
}

table {
	width: 80%;
	border: 1px solid black;
	border-spacing: 5px;
}

table {
	background-color: #d6d4d3;
}

th {
	background-color: #777a75;
	color: white;
}

hr {
	width: 10%;
	color: #fff;
}

form.Home {
	Float: Left;
}

div.footer {
	/* position: absolute;
	right: 0; bottom : 10; left : 0;
	display: block; */
	background-color: black;
	color: grey;
	padding: 10px;
	text-align: center;
	bottom: 0;
	left: 0;
}